fastapi
uvicorn
python-multipart
pydantic
python-dotenv
numpy
tensorflow
keras
scikit-learn
scipy
pandas
h5py
pillow
requests
gdown
openai
livekit
livekit-api
livekit-agents
livekit-plugins-openai
livekit-plugins-sarvam
aiohttp
livekit-plugins-silero
